@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.searchresults{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.property-list {
    margin-top: 20px;
  }

  .property-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #D2E3C8;
    border-radius: 20px;
  }
  
  .property-cards {
 
  }
  .property-details{
    padding:20px 10px 5px 10px;
  }
  .property-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .property-details h3{
    font-size: 20px;
  }
  .property-details p{
    font-size: 15px;
    font-weight: 400;
    color: grey;
  }
  .property-header >p{
    background: green;
    color: white;
    padding: 4px 6px;
    border-radius: 9px;
    margin-top: 5px;
    
  }
  .property-card {
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width:280px;
    background: white;
    margin: 20px 10px 20px 27px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }
  .property-card:hover {
   scale: 1.05;
  }
  .closed{
    display: none;
  }
  .open{
    display: block;
  }
  .property-card {
  display: flex;
  flex-direction: column;
}

.property-image {
  width: 100%;
  max-height: 200px; 
  object-fit: cover;
  border-radius: 21px;
}
